<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, user-scalable=no">

	<script src="http://www.w3schools.com/lib/w3data.js"></script>
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

 	<script src="../js/jquery.m.toast.js"></script>
 	<link rel="stylesheet" href="../css/jquery.m.toast.css" />
 	     <!-- Lari IMPLEMENTATION -->
	 <link rel="stylesheet" href="../css/01 css.css">
     <!-- Latest compiled and minified CSS -->
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">  
<title>Casa das Marmitas | ADS UNOPAR</title>

</head>

<body>

	<form id="form_add" action="../controller/tercerizada_controller.php" method="post">
		<p><input type="text" name="nome" size="60" placeholder="Razão Social" autocomplete="off" required autofocus></p>

		<p><input type="text" name="endereco" size="60" placeholder="Endereço" autocomplete="off" required></p>

		<p><input type="text" name="cnpj" size="30" placeholder="CNPJ" pattern="\d{2}\.\d{3}\.\d{3}/\d{4}-\d{2}"  autocomplete="off" required></p>

		<p>
			<input type="tel" name="tel" size="25" placeholder="Telefone" autocomplete="off" required>
			<input type="email" name="email" size="30" placeholder="E-mail" autocomplete="off" required >
		</p>

		<input type="hidden" name="comando" value="inserir">

		<p><input type="submit" name="salvar" value="&#10004 Salvar" class="btn btn-primary"></p>
	</form>

<script>


$( "#form_add" ).submit(function( event ) {
  event.preventDefault();
  var $form = $( this ),
    fNome = $form.find( "input[name='nome']" ).val(),
    fTelefone = $form.find( "input[name='tel']" ).val(),
    fEmail = $form.find( "input[name='email']" ).val(),
    fCnpj = $form.find( "input[name='cnpj']" ).val(),
    fEndereco = $form.find( "input[name='endereco']" ).val(),
    fComando = $form.find( "input[name='comando']" ).val(),
    url = $form.attr( "action" );
	$.post(url,{nome: fNome, tel: fTelefone, email: fEmail, cnpj: fCnpj, endereco: fEndereco, comando: fComando},function(data){
 	alert(data);
 		$form[0].reset();
		$.toast('Empresa adicionada!');
		$("#nome").focus();
 });
});
</script>

</body>
</html>
